<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nostrum doloremque praesentium
                    magnam
                    reiciendis
                    molestias. Odio animi quibusdam unde accusantium consequatur est nostrum modi perferendis
                    similique
                    minima
                    illum, dolorem facere.
                    Tenetur atque, culpa maiores dolores sapiente optio totam sit laboriosam quam? Voluptate
                    tempore,
                    sequi
                    voluptates aspernatur nemo vitae eligendi a aliquid cumque voluptatem adipisci ut aut
                    consectetur
                    possimus.
                    At,
                    illum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam neque eaque rerum! Fuga
                    laboriosam
                    necessitatibus officiis est natus at, itaque quo nihil, voluptatibus dolore corporis
                    veritatis
                    maiores
                    fugiat,
                    sed harum?
                    Perspiciatis alias aliquam nemo molestiae dolorem at dicta! Recusandae blanditiis
                    consectetur maxime
                    laboriosam
                    non libero tenetur officia placeat ut. Ducimus, nisi nihil velit cum earum accusantium fugit
                    accusamus
                    architecto recusandae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatibus sed, reiciendis
                    omnis
                    error
                    dolores
                    fuga. Sit assumenda ut corrupti culpa vitae totam. Eveniet dignissimos qui ipsam inventore
                    illum
                    dolores</p>
            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>